@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h1 {
  text-align: center;
  font-weight: 700;
}
h3 {
  text-align: center;
  font-weight: 500;
}


#pdp {
  display: block;
margin-left: auto;
margin-right: auto

}
body{
  background-color: #222831 ;
  color : #ECECEC ;
}

.wrapper {
  margin-left: 30vw;
  margin-right: 30vw;
}

#description {
  font-size: 1.618rem
}

#delimitation {
  font-size: 2.618rem;
  color : #413c69;
}

#liste {
  font-size: 1.618rem
}
 #concernant {
   font-size: 1.700rem
 }

#contact {
  font-weight: 400;
  font-size: 1.700rem
}

.social-link {
  text-decoration: none;
  color: #ececec;
}

#twitter {
  color: #00acee;
}
#facebook {
  color: #4267B2
}

#linkedin {
  color: #2867B2
}
